<html>
<head>
  <title>Portfolio CMS</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/portfolio-CMS.css">
</head>
<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <div class="header item" ><i class="code icon"></i> Portfolio CMS </div>
        <a href="/portfolio" class="item">All Projects</a>
        <a href="/portfolio/new" class="item">New Project</a>
        <a href="/logout" class="item">Log Out</a>
    </div>
  </div>
