</head>

<body>
<!-- NAV MENU   -->
<div class="header">
  <header>
  <nav class="navbar justify-content-between">
    <a class="navbar-brand" href="/portfolio">
      <img src="/assets/img/logo-transparent.png" class="logo" alt="logo">
    </a>    
      <button class="navbar-toggler align-top" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span>
          <img src="/assets/img/togglerSingle.png" class="togglerSingle togglerSingle1" alt="">
          <img src="/assets/img/togglerSingle.png" class="togglerSingle togglerSingle2" alt="">
          <img src="/assets/img/togglerSingle.png" class="togglerSingle togglerSingle3" alt="">
        </span>
      </button>
    </nav>
  </header>
  
  <div class=" nav-menu fadeOutAnimation hidden">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
            <div class="row justify-content-center nav-menu-item" id="first-nav-item">
              <a href="/projects">Portfolio</a>
            </div>
            <div class="row justify-content-center nav-menu-item">
              <a href="/about">About</a>
            </div>
            <div class="row justify-content-center nav-menu-item">
              <a href="/contact">Contact</a>
            </div>
            <div class="row justify-content-center nav-menu-item">
              <a href="/resume">Resumé</a>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>