<% include ./partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/assets/css/about.css">
<% include ./partials/nav.ejs %>
    <div class="main container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12 col-12">
        <h1>About</h1>
        <p>
          Hi there, Thanks for visiting my site and checking out my projects.
        </p>
        <p>
          My name is Alex Andres, I am a full stack developer with a keen eye for design and functionality. I like to work on projects that push the limits of my knowledge and challenge me to further explore the world of web development. I focus mainly on front end development at the moment with an emphasis of developing sites with React. While I enjoy developing full stack web applications, I also have experience making custom web sites for businesses, I have several ongoing wordpress projects with clients. I am always  working towards expanding my skillset and am currently learning how to make my development process more succint and efficient with task runners, css preprocessors, and testing tools. 
        </p>

        <p>
          I dove into the world of web development head first in August 2017 by enrolling in a web development bootcamp at UCLA. The bootcamp provided a great framework for learning and a broad exposure to many topics in web development. It also provided a great challenge for me as I was balancing working full time and learning in a field that requires hours of daily work to grasp and master. I feel that my knowledge is solid but I am always looking to improve, and continually learning new technologies as the field demands. 
        </p>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/assets/js/portfolio.js"></script>
<% include ./partials/footer.ejs %>