<% include ./partials/header.ejs %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/assets/css/contact.css">
<% include ./partials/nav.ejs %>
<body>

  <div class="container">
    <div class="row mt-5">
      <div class="col-md-1 col-2"></div>
      <div class="col-md-3 col-8 contact"><a href="mailto:alex@alexandres.co"><i class="far fa-envelope"></i> </i>alex@alexandres.co</a></div>
      <div class="col-md-4 col-1"></div>
      <div class="col-md-4 col-1"></div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4 col-2"></div>
      <div class="col-md-4 col-8 contact"><a href="https://github.com/alex-andres" title="Go to my Github Page"> <i class="fab fa-github"></i> github.com/alex-andres</a></div>
      <div class="col-md-4 col-2"></div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4 col-1"></div>
      <div class="col-md-4 col-1"></div>
      <div class="col-md-4 col-8 contact"></i> <a href="https://www.linkedin.com/in/alandres/" title="Go to my LinkedIn Page"> <i class="fab fa-linkedin-in"></i> linkedin.com/in/alandres/</a></div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
</body>
  <script type="text/javascript" src="/assets/js/portfolio.js"></script>
<% include ./partials/footer.ejs %>