body {
  background: #000000;
  font-family: bodoni-urw, serif;
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
}

.row {
  width: 100%;
  margin: 0 auto;
}
button.navbar-toggler {
  margin-top: -25px;
  border: none;
  outline: none;
}
#logo {
  height: 146px;
  width: 146px;
}

#toggler {
  height: 37px;
  width: 69px;
}
