body {
  background: #000000;
  font-family: bodoni-urw, serif;
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
}


.row {
  width: 100%;
  margin: 0 auto;
}
#projectRow {
  width: 869px;
}
button.navbar-toggler {
  margin-top: -25px;
  border: none;
  outline: none;
}
#logo {
  height: 146px;
  width: 146px;
}

#toggler {
  height: 37px;
  width: 69px;
}
.logo {
  border: none;
}
#gmail {
  background: url(../img/colorGmail.png);
  height: 300px;
  width: 300px;
  border: none;
}
#github {
  background: url(../img/colorGithub.png);
  height: 300px;
  width: 300px;
}
#linkedin {
  background: url(../img/colorLinkedin.png);
  height: 300px;
  width: 300px;
}
#gmail:hover {
  background: url(../img/gmail.png);
}
#github:hover {
  background: url(../img/github.png);
}
#linkedin:hover {
  background: url(../img/linkedin.png);
  height: 300px;
  width: 300px;
}

